.mydatagrid {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: center;
    border: none 0px transparent;
}

.rows:nth-of-type(odd) {
    background-color: #fff;
}

.rows:nth-of-type(even) {
    background-color: #ddd;
}

.rows:hover {
    background-color: #FE1327;
    font-family: Arial;
    color: #fff;
    text-align: center;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}

.no-results {
    font-size: 1em;
    color: #888;
}
